@font-face {
    font-family: 'ConduitITC regular';
    src: local('ConduitITC regular'),
         url('fonts/conduititc-webfont.woff2') format('woff2'),
         url('fonts/conduititc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans regular';
    src: local('Open Sans regular'),
         url('fonts/opensans-webfont.woff2') format('woff2'),
         url('fonts/opensans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}